* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  backgroun: beige;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px dotted blue;
}

.image-size {
  height: 250px;
  width: 250px;
}
