* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: beige;
}

#surveyImageContainer {
  margin: 0 auto;
  width: 760px;
}

#canvas-div {
  margin: 0 auto;
  height: 500px;
  width: 960px;
  border: 1px solid blue;
}

.image-size {
  height: 250px;
  width: 250px;
  border: 2px solid tan;
  border-radius: 10%;
}
